.smImgSkCont
{
    display : flex;
    justify-content : flex-start;
}
.smImgSk
{
    border-radius: 2px;
    width: 60px;
    height: 60px;
    background-color: rgb(205, 205, 205);
    animation: pulse 1.5s infinite ease-in-out;
    margin: 5px;
}
@keyframes pulse
{
    0% { opacity: 1;}
    50% { opacity: 0.4;}
    100% { opacity: 1;}
}